.♠, .♣ {
    color: black;
}

.♦, .♥ {
    color: red;
}

.card {
    color: #fff;
    padding: 8px;
    margin: 5px;
    width: 172px;
    height: 240px;
    font: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.bottomright {
    position: absolute;
    font: 20px;
    bottom: 8px;
    right: 12px;
    transform: rotate(180deg);
}

.cardMid {
    text-align: center;
}